.cadeira{
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    

}

.imgConteiner{
    background-color: wheat;
    width: 6%;
    float: left;
}
.sala{
    width: 40%;
    margin: 0 auto;
}
.Home {
    font-family: 'Playfair Display', serif;
     font-size: 20px;
     text-align:center;
     padding: 5px;
     border: 20px;
        
 }
 
 h1 {
     border-style: solid;
     border-width: 4px;
     border-radius: 50px;
     font-size: 50px;
     text-align:center;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp2s7s0kxtLSaqnSrYBC8jfmspEo7WP1ZyeMnfY9G0Lwg9RgVK");
     color: whitesmoke;
     margin: 0 0;
 }
 
 body {
     background-image: url("https://wallpapercave.com/wp/wp2610943.jpg");
     border: 10px;
 }
 
 .Menu {
     text-align:center;
     font-family: fantasy;
     font-size: 18px;
 }
 
 .Menu a{
     padding-left: 20px;
 }
 .logo {
     text-align:center;
 }